body {
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
}

h2 {
    color: white;
}

.container {
    align-items: center; /* aligning vertically */

    /* aligning horizontally */
    display: flex;
    flex-direction: column; 
    height: 100vh;
}

.board {
    grid-gap: 1px;
    width: 90vw;
    max-width: 700px;
    border: 1px solid rgb(151, 145, 145);
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Had to change this from auto to 1fr for equal distribution */
}

.square {
    background-color: #f0d9b5;
    /* background-color: #ba8c66; */
    color: white;
    align-items: center; /* aligning horizontally */
    aspect-ratio: 1 / 1; /* Ensure square aspect ratio */

    /* aligning horizontally */
    display: flex;
    justify-content: center;
}


.square:hover {
    background-color: #e9c572;
    cursor: pointer;
}

img.piece {
    height: 4em;
    width: 4em;
}